In [1]:
54 * 67

3618

In [2]:
type(3618)

int

In [3]:
10 + 0.75

10.75

int - Number without a decimal

float - Number with a decimal

Boolean - Either True or False. Mostly used in comparisons

We can convert data types into other datatypes
For example

To convert a str to an int, we write, **int('34')**

To convert a int/float to a str, we write, **str(34)** e.g when writing an address

For Bool, 0 reps False and 1 reps True

In [17]:
x = '34'
type(x)

str

In [14]:
x= int('34')
type(x)

# Converted

int

In [16]:
"KG " +str(532)+ " ST " +str(3)

'KG 532 ST 3'

**Variables_Nums_And_Bools_Lab**

In [25]:
art_vandelay = "art vandelay"

In [24]:
art_vandelay.title()
# Capitalizes both First and Last name

'Art Vandelay'

In [26]:
ceo = "Ceo"
ceo.upper()
# Converts to UPPERCASE

'CEO'

In [29]:
ends_with_com = "art.vandelay@vandelay.co"
ends_with_com.endswith(".com")
#Checks to see if email ends with ".com"

False

In [33]:
web_address = 'vandelay.com'
web_address = "www." + web_address
web_address

'www.vandelay.com'

In [41]:
phone_num_one = "7285553334"
int(phone_num_one) + 1
# Converting phone number to an int and operating on it

7285553335

In [42]:
phone_num_one = "7285553334"
int(phone_num_one) + 2
# Converting phone number to an int and operating on it

7285553336

**Variables Assignment**

In [43]:
travel_month = "January"

In [44]:
number_of_weeks = 3

In [45]:
number_of_weeks = 5

In [46]:
# First Method of Sring Interpolation
"I will be travelling " +str(number_of_weeks)+ " weeks starting in the month of " + travel_month

'I will be travelling 5 weeks starting in the month of January'

In [52]:
# Second method of String Interpolation
"I will be travelling {number_of_weeks} weeks starting in the month of {travel_month}".format(number_of_weeks = str(number_of_weeks), travel_month = travel_month)

'I will be travelling 5 weeks starting in the month of January'

In [56]:
# Third method of string interpolation
f"I will be travelling {str(number_of_weeks)} weeks starting in the month of {travel_month}"

'I will be travelling 5 weeks starting in the month of January'