Lists are a form of collection. Used to group multiple pieces of data together. This is how they appear in code:

In [2]:
['Nairobi', 'Dodoma','Kigali','Bujumbura', 'Kampala','Kinshasa']

['Nairobi', 'Dodoma', 'Kigali', 'Bujumbura', 'Kampala', 'Kinshasa']

Lists are initialized with an opening square bracket and the list ends with a closing square bracket. Each list item (element) is separated with a comma.

In [3]:
ea_capitals = ['Nairobi', 'Dodoma','Kigali','Bujumbura', 'Kampala','Kinshasa']

In [4]:
ea_capitals

['Nairobi', 'Dodoma', 'Kigali', 'Bujumbura', 'Kampala', 'Kinshasa']

We can access the list elements by referencing the list and using the square brackets to access a specific element in the list using an index.

Python uses a zero-indexed numbering scheme for collections which means that numbering begins at zero. So ea_capitals[0] is Nairobi and ea_capitals[1] is Dodoma

In [5]:
ea_capitals[1]

'Dodoma'

In [6]:
ea_capitals[0]

'Nairobi'

In [7]:
ea_capitals[-1]
# To access the last element in the list

'Kinshasa'

In [8]:
ea_capitals[-2]

'Kampala'

In [9]:
# In a string, each element can be equal to a variable now.
kenya_capital = ea_capitals[0]
print(kenya_capital)

Nairobi

In [10]:
type(ea_capitals)

list

In [11]:
type(kenya_capital)

str

We can also access multiple elements in a list. We do that but placing two numbers, separated by a colon inside the brackets.

E.g ea_capitals [0:2]

The first number indicates the index of the first element. The second number reps the index at which we stop our selection minus the index indicated in the slice.

This operation is called slicing and of course, we can use this to create another variable.

In [12]:
first_three = ea_capitals[0:3]
first_three

['Nairobi', 'Dodoma', 'Kigali']

In [13]:
ea_capitals[1:4]

['Dodoma', 'Kigali', 'Bujumbura']

In [14]:
ea_capitals[1:]
# This starts from the second element until the end of the list.

['Dodoma', 'Kigali', 'Bujumbura', 'Kampala', 'Kinshasa']

In [15]:
ea_capitals[1:-1]
# Eliminates the first and last elements

['Dodoma', 'Kigali', 'Bujumbura', 'Kampala']

In [16]:
ea_capitals

['Nairobi', 'Dodoma', 'Kigali', 'Bujumbura', 'Kampala', 'Kinshasa']

In [17]:
ea_capitals[2:5]

['Kigali', 'Bujumbura', 'Kampala']

In [18]:
# Adding a new element to the list
# Assume that Ethiopia entered the EAC
ea_capitals.append('Addis Ababa')

In [19]:
ea_capitals

['Nairobi',
 'Dodoma',
 'Kigali',
 'Bujumbura',
 'Kampala',
 'Kinshasa',
 'Addis Ababa']

Addis Ababa has been added to the end of the list. Somalia also entered the EAC but later got out. Add first then remove

In [20]:
ea_capitals.append('Mogadishu')

In [21]:
ea_capitals

['Nairobi',
 'Dodoma',
 'Kigali',
 'Bujumbura',
 'Kampala',
 'Kinshasa',
 'Addis Ababa',
 'Mogadishu']

The **pop()** method is used to remove the last element of a list.

In [22]:
ea_capitals.pop()

'Mogadishu'

In [23]:
ea_capitals

['Nairobi',
 'Dodoma',
 'Kigali',
 'Bujumbura',
 'Kampala',
 'Kinshasa',
 'Addis Ababa']

We can also change the contents of an element in the list by calling its index and giving it a new value, like so. Assume Tanzania changed their capital from Dodoma to Dar es Salaam

In [24]:
ea_capitals[1]

'Dodoma'

In [25]:
ea_capitals[1] = "Dar es Salaam"

In [26]:
ea_capitals
# Updated

['Nairobi',
 'Dar es Salaam',
 'Kigali',
 'Bujumbura',
 'Kampala',
 'Kinshasa',
 'Addis Ababa']

In [27]:
ea_capitals[1] = "Dodoma"
# Back to Normal

In [28]:
ea_capitals

['Nairobi',
 'Dodoma',
 'Kigali',
 'Bujumbura',
 'Kampala',
 'Kinshasa',
 'Addis Ababa']

Sometimes, lists may have repeating values. To get only unique elements, we use the set function that only shows unique values without any order.

In [29]:
ea_capitals.append("Nairobi")

In [30]:
ea_capitals

['Nairobi',
 'Dodoma',
 'Kigali',
 'Bujumbura',
 'Kampala',
 'Kinshasa',
 'Addis Ababa',
 'Nairobi']

In [31]:
# Converts the list into a set
unique_ea_capitals = set(ea_capitals)
unique_ea_capitals

{'Addis Ababa',
 'Bujumbura',
 'Dodoma',
 'Kampala',
 'Kigali',
 'Kinshasa',
 'Nairobi'}

In [ ]:
# Alternative way to initialize a set
my_set = {1, 2, 3}
print(my_set)
type(my_set)

In [32]:
type(unique_ea_capitals)

set

In [33]:
new_ea_capitals = list(unique_ea_capitals)
ea_capitals
# Converts the cleaned set into a list

['Nairobi',
 'Dodoma',
 'Kigali',
 'Bujumbura',
 'Kampala',
 'Kinshasa',
 'Addis Ababa',
 'Nairobi']

In [34]:
type(new_ea_capitals)

list

In [35]:
# To check the length or the number of elements in the list, we use the len function.

len(ea_capitals)

8

In [49]:
len(new_ea_capitals)

7

In [51]:
l1 = [1,2,3]
l2 = [4,5,6]
l1.extend(l2)
print(l1)
# Adds elements from the second list to the first list

[1, 2, 3, 4, 5, 6]

**Lists Lab**

In [37]:
countries = ['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'New Mexico',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea']
countries
# Initializing a list

['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'New Mexico',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea']

In [38]:
italy = countries[-3]
print(italy)
# Accessing Italy from the list and assigning it a variable

Italy

In [39]:
mexico = countries[3]
print(mexico)
# Accessing Mexico from the list and assigning it a variable

Mexico

In [40]:
kindof_neighbours = countries[2:5]
print(kindof_neighbours)
# Slicing and printing a subset of the list. From the 2nd element to the 5th

['Argentina', 'Mexico', 'USA']

In [41]:
countries.append("Malta")
countries.append('Thailand')
# Adding Malta and Thailand to the list

In [42]:
countries

['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'New Mexico',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea',
 'Malta',
 'Thailand']

In [43]:
countries[6] = "USA"
# Changing New Mexico to USA

In [44]:
countries

['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'USA',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea',
 'Malta',
 'Thailand']

In [45]:
countries.pop()
print(countries)
# Removing Thailand from the list for no good reason

['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'USA', 'Finland', 'Argentina', 'Italy', 'Canada', 'South Korea', 'Malta']

In [46]:
unique_countries = set(countries)
# Converting the list to a set to remove duplicate values

In [47]:
print(unique_countries)

{'USA', 'Finland', 'Mexico', 'South Korea', 'Italy', 'Malta', 'Argentina', 'Canada', 'Croatia', 'Morocco'}

In [48]:
num_of_repeats = len(countries) - len(unique_countries)
print(num_of_repeats)
# Getting the number of elements from the countries list and the unique_countries set 
# o figure out the number of duplicate values

3