**Functions**

Fucnctions allow us to reuse code

In [4]:
new_employees = ['jim', 'tracy', 'lisa']
welcome_messages = []
for new_employee in new_employees:
    welcome_messages.append("Hi " + new_employee.title() + ", I'm so glad to be working with you")

welcome_messages

["Hi Jim, I'm so glad to be working with you",
 "Hi Tracy, I'm so glad to be working with you",
 "Hi Lisa, I'm so glad to be working with you"]

Imagine the above code but each time there is anew employee coming in to the office. Instead of always copy-pasting the code. A function can be used

In [17]:
# Defining a function
def greet_employees():
    welcome_messages = []
    for new_employee in new_employees:
        welcome_messages.append("Hi " + new_employee.title() + ", I'm so glad to be working with you")
    return welcome_messages

In [18]:
new_employees = ['john', 'kamau','John KAMAU']
# Calling the function
greet_employees()

["Hi John, I'm so glad to be working with you",
 "Hi Kamau, I'm so glad to be working with you",
 "Hi John Kamau, I'm so glad to be working with you"]

**Breakdown**
The first line in the function is the function signature

**def function_name():**

**def** tells Python we are declaring a function

**function_name** shows how to reference and execute the function later

**()** houses the parameters

**:** ends the function signature

After the signature we have the function body which houses what the function does. Indented.

Variables that are declared inside a function are not available outside of the function. To get something out of the function, we must use the **return** keyword followed by what we would like to return

**Quiz**

Imagine we are creating a list of travel destinations -- which can really turn out to be a full time job if we like to travel. We have our list of travel_destinations which we assign below. Write a function called number_of_destinations() that returns the number of destinations we have on our list.

In [20]:
travel_destinations = ['argentina', 'mexico', 'italy', 'finland', 'canada', 'croatia']
def number_of_destinations():
    destinations = len(travel_destinations)
    return destinations

In [30]:
print(f"We have {number_of_destinations()} locations")

We have 6 locations

Now write another function called next_up() that returns our first destination (the destination with the lowest index), in the list_of_destinations list.

In [24]:
list_of_destinations = ['argentina', 'canada', 'croatia']
def next_up():
    next_location = list_of_destinations[0]
    return next_location

In [26]:
next_up().title()

'Argentina'

Ok, now write a function called favorite_destination() that returns the string 'madagascar'.

In [57]:
def favorite_destination():
    fav_destination = "madagascar"
    return fav_destination

In [35]:
favorite_destination().title()

'Madagascar'

Again, let's declare a list called favorite_destinations. Write a new function called add_favorite_destination() that adds the string 'madagascar' to the end of favorite_destinations and also returns the string 'madagascar'.

In [55]:
favorite_destinations = ['argentina', 'mexico', 'italy', 'finland', 'canada', 'croatia']
def add_favorite_destination():
    favorite_destinations.append('madagascar')
    return favorite_destinations[-1]

In [56]:
add_favorite_destination()

'madagascar'

Now let's write another function called capitalize_countries() which iterates through the list of capitalized_destinations and capitalizes the first letter of each word. It should return a list of capitalized destinations.

In [70]:
capitalized_destinations = ['argentina', 'mexico', 'italy', 'finland', 'canada', 'croatia']
def capitalized_countries():
    capitalized_countries = []
    for country in capitalized_destinations:
        capitalized_countries.append(country.title())
    return capitalized_countries

In [71]:
capitalized_countries()

['Argentina', 'Mexico', 'Italy', 'Finland', 'Canada', 'Croatia']

**Using Functions with Arguments**

Sometimes functions require a variable to run. When code requires something to work, we call that something a dependency.

In [72]:
def meet(traveller):
    welcome_message = "Hi " + traveller.title() + ", I'm so glad we'll be going on the trip together!"
    return welcome_message

The above function needs a variable named traveller to run. When calling the above function. We will need to declare the name of the traveller going with us like so:

**NOTE**

An *argument* is the data we pass to a function before execution *(e.g "Nesphory")* as seen below

A *parameter* is the variable we define in the function signature *(e.g traveller)* as seen above

In [74]:
meet("Nesphory")

"Hi Nesphory, I'm so glad we'll be going on the trip together!"

The parameter in the meet() function acts like a variable. It changes depending on the argument passed when the function is called.

However the traveller argument is only accessible from inside the function

In [79]:
name = input("What is your name? ")
meet(name)

What is your name?  Nesphory

"Hi Nesphory, I'm so glad we'll be going on the trip together!"

In [81]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

**Quiz**

## Exploring Two Restaurants in Albuquerque

Let's take a quick look at the information Yelp provides for a single restaurant:

In [85]:
# Run this cell without changes
fork_fig = {'categories': [{'alias': 'burgers', 'title': 'Burgers'},
  {'alias': 'sandwiches', 'title': 'Sandwiches'},
  {'alias': 'salad', 'title': 'Salad'}],
 'coordinates': {'latitude': 35.10871, 'longitude': -106.56739},
 'display_phone': '(505) 881-5293',
 'distance': 3571.724649307866,
 'id': 'fork-and-fig-albuquerque',
 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/_-DpXKfS3jv6DyA47g6Fxg/o.jpg',
 'is_closed': False,
 'location': {'address1': '6904 Menaul Blvd NE',
  'address2': 'Ste C',
  'address3': '',
  'city': 'Albuquerque',
  'country': 'US',
  'display_address': ['6904 Menaul Blvd NE', 'Ste C', 'Albuquerque, NM 87110'],
  'state': 'NM',
  'zip_code': '87110'},
 'name': 'Fork & Fig',
 'phone': '+15058815293',
 'price': '$$',
 'rating': 4.5,
 'review_count': 604,
 'transactions': [],
 'url': 'https://www.yelp.com/biz/fork-and-fig-albuquerque?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ'}
fork_fig

{'categories': [{'alias': 'burgers', 'title': 'Burgers'},
  {'alias': 'sandwiches', 'title': 'Sandwiches'},
  {'alias': 'salad', 'title': 'Salad'}],
 'coordinates': {'latitude': 35.10871, 'longitude': -106.56739},
 'display_phone': '(505) 881-5293',
 'distance': 3571.724649307866,
 'id': 'fork-and-fig-albuquerque',
 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/_-DpXKfS3jv6DyA47g6Fxg/o.jpg',
 'is_closed': False,
 'location': {'address1': '6904 Menaul Blvd NE',
  'address2': 'Ste C',
  'address3': '',
  'city': 'Albuquerque',
  'country': 'US',
  'display_address': ['6904 Menaul Blvd NE', 'Ste C', 'Albuquerque, NM 87110'],
  'state': 'NM',
  'zip_code': '87110'},
 'name': 'Fork & Fig',
 'phone': '+15058815293',
 'price': '$$',
 'rating': 4.5,
 'review_count': 604,
 'transactions': [],
 'url': 'https://www.yelp.com/biz/fork-and-fig-albuquerque?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ'}

Above is the information provided about Fork & Fig, but all restaurants are provided with this information. For example, here is the information provided by Yelp for another restaurant, Frontier Restaurant.

In [84]:
# Run this cell without changes
frontier_restaurant = {'categories': [{'alias': 'mexican', 'title': 'Mexican'},
  {'alias': 'diners', 'title': 'Diners'},
  {'alias': 'tradamerican', 'title': 'American (Traditional)'}],
 'coordinates': {'latitude': 35.0808088832532, 'longitude': -106.619402244687},
 'display_phone': '(505) 266-0550',
 'distance': 4033.6583235266075,
 'id': 'frontier-restaurant-albuquerque-2',
 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/M9L2z6-G0NobuDJ6YTh6VA/o.jpg',
 'is_closed': False,
 'location': {'address1': '2400 Central Ave SE',
  'address2': '',
  'address3': '',
  'city': 'Albuquerque',
  'country': 'US',
  'display_address': ['2400 Central Ave SE', 'Albuquerque, NM 87106'],
  'state': 'NM',
  'zip_code': '87106'},
 'name': 'Frontier Restaurant',
 'phone': '+15052660550',
 'price': '$',
 'rating': 4.0,
 'review_count': 1369,
 'transactions': [],
 'url': 'https://www.yelp.com/biz/frontier-restaurant-albuquerque-2?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ'}
frontier_restaurant

{'categories': [{'alias': 'mexican', 'title': 'Mexican'},
  {'alias': 'diners', 'title': 'Diners'},
  {'alias': 'tradamerican', 'title': 'American (Traditional)'}],
 'coordinates': {'latitude': 35.0808088832532, 'longitude': -106.619402244687},
 'display_phone': '(505) 266-0550',
 'distance': 4033.6583235266075,
 'id': 'frontier-restaurant-albuquerque-2',
 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/M9L2z6-G0NobuDJ6YTh6VA/o.jpg',
 'is_closed': False,
 'location': {'address1': '2400 Central Ave SE',
  'address2': '',
  'address3': '',
  'city': 'Albuquerque',
  'country': 'US',
  'display_address': ['2400 Central Ave SE', 'Albuquerque, NM 87106'],
  'state': 'NM',
  'zip_code': '87106'},
 'name': 'Frontier Restaurant',
 'phone': '+15052660550',
 'price': '$',
 'rating': 4.0,
 'review_count': 1369,
 'transactions': [],
 'url': 'https://www.yelp.com/biz/frontier-restaurant-albuquerque-2?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ'}

In [90]:
fork_fig.keys() # Quickly view attributes of the dictionary

dict_keys(['categories', 'coordinates', 'display_phone', 'distance', 'id', 'image_url', 'is_closed', 'location', 'name', 'phone', 'price', 'rating', 'review_count', 'transactions', 'url'])

In [89]:
frontier_restaurant.keys() # Quickly view attributes of the dictionary

dict_keys(['categories', 'coordinates', 'display_phone', 'distance', 'id', 'image_url', 'is_closed', 'location', 'name', 'phone', 'price', 'rating', 'review_count', 'transactions', 'url'])

Write a function called restaurant_name() that, provided a dictionary representing a restaurant like you saw above, returns that restaurant's name.

In [91]:
def restaurant_name(restaurant):
    return restaurant['name']

In [92]:
restaurant_name(fork_fig)

'Fork & Fig'

In [94]:
restaurant_name(frontier_restaurant)

'Frontier Restaurant'

Now write a function called restaurant_rating() that returns the rating of the provided restaurant.

In [96]:
def restaurant_rating(restaurant):
    return restaurant['rating']

In [97]:
restaurant_rating(frontier_restaurant)

4.0

In [98]:
restaurant_rating(fork_fig)

4.5

Now let's write a function called is_better() that returns True if a restaurant has a higher rating than an alternative restaurant. The first argument should be called restaurant and the second argument should be called alternative. The function returns False if the two ratings are equal.

This function should call (AKA invoke) your existing restaurant_rating function.

In [102]:
def is_better(restaurant,alternative):
    rest = restaurant_rating(restaurant)
    alt = restaurant_rating(alternative)
    if rest > alt:
        return True
    elif alt == rest:
        return False
    else:
        return False

In [103]:
is_better(frontier_restaurant, fork_fig)

False

In [104]:
is_better(fork_fig, frontier_restaurant)

True

In [105]:
is_better(fork_fig, fork_fig)

False

Now let's write a function called is_cheaper() that returns True if a restaurant has a lower price, that is the restaurant has fewer '$' signs, than an alternative restaurant. The first argument should be called restaurant and the second argument should be called alternative. The function returns False if the two prices are equal.

In [107]:
def is_cheaper(restaurant,alternative):
    if len(restaurant['price']) < len(alternative['price']):
        return True
    elif len(restaurant['price']) == len(alternative['price']):
        return False
    else:
        return False

In [108]:
is_cheaper(fork_fig, frontier_restaurant)

False

In [109]:
is_cheaper(frontier_restaurant, fork_fig)

True

In [110]:
is_cheaper(fork_fig, fork_fig)

False

Now write a function called high_rating() that takes a restaurant as a first argument and a rating (in the form of a number) as the second argument and returns True if the given restaurant's rating is greater than or equal to the provided rating and returns False otherwise.

In [115]:
def high_rating(restaurant, rating):
    if restaurant['rating'] >= rating:
        return True
    else:
        return False

In [116]:
high_rating(fork_fig, 4)

True

In [117]:
high_rating(fork_fig, 5)

False

In [121]:
high_rating(frontier_restaurant, 4)

True

Awesome! We have built out some pretty cool functions so far. Let's now think about a case where we have more than just two data points to operate on. We have added some more restaurant dictionaries below and are going to add them to our list of restaurants. Don't worry that they have a slightly different amount of data.

We are going to need a function mean_review_count() to give us an idea what the typical value for review_count is. This function should take in a list of restaurant dictionaries and return the mean of the review counts for the collection of restaurant dictionaries.

In [122]:
dennys = {'categories': [{'alias': 'breakfast', 'title': 'Breakfast'},
  {'alias': 'diners', 'title': 'Diners'},
  {'alias': 'tradamerican', 'title': 'American (Traditional)'}],
 'is_closed': False,
 'name': "Denny's",
 'price': '$',
 'rating': 3.0,
 'review_count': 1200}

ihop = {'categories': [{'alias': 'breakfast', 'title': 'Breakfast'},
  {'alias': 'diners', 'title': 'Diners'},
  {'alias': 'tradamerican', 'title': 'American (Traditional)'}],
 'is_closed': False,
 'name': "IHOP: International House of Pancakes",
 'price': '$',
 'rating': 3.45,
 'review_count': 1588}

mcdonalds = {'categories': [{'alias': 'breakfast', 'title': 'Breakfast'},
  {'alias': 'burgers', 'title': 'Burgers'},
  {'alias': 'fast food', 'title': 'Good Food Fast'}],
 'is_closed': False,
 'name': "McDonalds",
 'price': '$',
 'rating': 3.45,
 'review_count': 2455}

pearl_street_oyster_bar = {'categories': [{'alias': 'seafood', 'title': 'Seafood'},
  {'alias': 'gourmet', 'title': 'Gourmet'},
  {'alias': 'Shellfish', 'title': 'Shellfish'}],
 'is_closed': False,
 'name': "Pear Street Oyster Bar",
 'price': '$$$',
 'rating': 4.75,
 'review_count': 350}

In [123]:
restaurant_list = [pearl_street_oyster_bar, mcdonalds, ihop, dennys, fork_fig, frontier_restaurant]

In [166]:
def mean_review_count(list_of_restaurants):
    total = 0
    length = len(list_of_restaurants)
    for restaurant in list_of_restaurants:
        total += restaurant['review_count']
    return total/length

In [167]:
mean_review_count(restaurant_list)

1261.0

Now we have an idea of how many reviews a typical restaurant has, but none of these restaurants have exactly that number of reviews.

Which restaurants have a review_count within 150 of the average? ("within 150" meaning exactly average, <= 150 fewer reviews than the average, or <= 150 more reviews than the average)

Return a list of the restaurant names.

In [173]:
def near_average_review_count(list_of_restaurants):
    restaurants_within_average = []
    mean = mean_review_count(list_of_restaurants)
    for restaurant in list_of_restaurants:
        if mean - 150 <= restaurant["review_count"] <= mean + 150:
            # if restaurant["review_count"] >= mean - 150 and restaurant["review_count"] <= mean + 150:
            restaurants_within_average.append(restaurant['name'])
        else:
            continue
    return restaurants_within_average

In [174]:
near_average_review_count(restaurant_list)

["Denny's", 'Frontier Restaurant']