## List Comprehension

Handy way of creating nw list from existing iterables

In [9]:
primes = [2,3,5,7,11,13,17,19]

In [10]:
prime_doubles = [prime*2 for prime in primes]
prime_doubles

[4, 6, 10, 14, 22, 26, 34, 38]

In [11]:
prime_triples = [prime*3 for prime in primes]
prime_triples

[6, 9, 15, 21, 33, 39, 51, 57]

In [12]:
prime_squares = [prime**2 for prime in primes]
prime_squares

[4, 9, 25, 49, 121, 169, 289, 361]

**Exercise (List Comprehension)**

1. Use a list comprehension to extract the odd numbers from this set

In [39]:
num_pool = set(range(1000))
num_odd = [num for num in num_pool if num % 2 != 0 ]
print(num_odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999]

2. Use a list comprehension to take the first character of each string from the following list of words

In [16]:
words = ['Carbon','Osmium', 'Mercury','Potassium','Rhenium','Einsteinium','Hydrogen','Erbium','Nitrogen','Sulfur','Iodine','Oxygen','Niobium']
first_letter = [word[0] for word in words]
first_letter

['C', 'O', 'M', 'P', 'R', 'E', 'H', 'E', 'N', 'S', 'I', 'O', 'N']

3. Use a list comprehension to build a list of all the names that start with 'R' from the following list. Add a '?' to the end of each name

In [22]:
names = ['Randy','Robert','Alex','Ranjit','Charlie','Richard','Ravdeep','Vimal','Wu','Nelson']
r_names = [f'{name}?' for name in names if name[0] == 'R']
r_names

['Randy?', 'Robert?', 'Ranjit?', 'Richard?', 'Ravdeep?']

## Dictionary Comprehension

- .keys() - dict keys
- .values() - dict values
- .items() - both keys and values

In [23]:
my_dict = {'who': 'Flatiron School',
          'what': 'Data Science',
          'when': 'now',
          'where':'here',
          'why': 'mulla',
          'how': 'python'}
my_dict

{'who': 'Flatiron School',
 'what': 'Data Science',
 'when': 'now',
 'where': 'here',
 'why': 'mulla',
 'how': 'python'}

In [41]:
# Normally
new_dict = {}
for key, value in my_dict.items():
    if key.startswith('w'):
        new_dict[key] = value + '!'
# new_dict
# Dictionary Comprehension
{key:value + '!' for key,value in my_dict.items() if key.startswith('w')}

{'who': 'Flatiron School!!',
 'what': 'Data Science!!',
 'when': 'now!!',
 'where': 'here!!',
 'why': 'mulla!!'}

*zip is a handy way of pairing up two or more iterables*

In [56]:
dict(zip(range(5), ['apple','banana','cherry','peach','mango']))

{0: 'apple', 1: 'banana', 2: 'cherry', 3: 'peach', 4: 'mango'}

In [61]:
scores = [0.858, 0.873, 0.868]
{'model' + str(score+1): scores[score] for score in range(3)}

{'model1': 0.858, 'model2': 0.873, 'model3': 0.868}

**Exercise (Dictionary Comprehension)**

1. Use a dictionary comprehension to pair up the countries in the first list with their corresponding capitals in the second list

In [88]:
countries = ['USA', 'France', 'Canada', 'Thailand']
capitals = ['Washington DC', 'Paris', 'Ottawa', 'Bangkok']
dict(zip(countries, capitals))
# OR
{country:capital for country,capital in zip (countries,capitals)}

{'USA': 'Washington DC',
 'France': 'Paris',
 'Canada': 'Ottawa',
 'Thailand': 'Bangkok'}

2. Use a dictionary comprehension to make each of thecharacters in the following list a key with the value 'fictional character'

In [89]:
chars = ['Pinocchio', 'Gilgamesh',' Kumar Patel', 'Toby Flenderson']
{char: 'Fictional character' for char in chars}

{'Pinocchio': 'Fictional character',
 'Gilgamesh': 'Fictional character',
 ' Kumar Patel': 'Fictional character',
 'Toby Flenderson': 'Fictional character'}

## Nested Comprehension

In [90]:
lists = [['morning', 'afternoon', 'night'],['read', 'code', 'sleep']]

In [93]:
[[item[0] for item in small_list] for small_list in lists]
# inner for loop first then outer for loop

[['m', 'a', 'n'], ['r', 'c', 's']]

**Exercise**

1. From the dictionary below, extract "I am a Bunny"

In [97]:
customers = {
    'bill': {'purchases': {
                'movies': ['Terminator', 'Elf'],
                'books': []},
            'id': 1},
    'dolph': {
        'purchases': {
            'movies': ['It Happened One Night'],
            'books': ['The Far Side Gallery']},
        'id': 2},
    'pat': {'purchases': {
                'movies': [],
                'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
            'id': 3}
}

In [98]:
customers['pat']['purchases']['books'][1]

'I Am a Bunny'

2. From the list below, make a list of dictionaries where the key is the person's name and the value is the person's home phone number

In [127]:
phone_nos = [
    {'name': 'greg', 'nums': {'home': 1234567, 'work': 7654321}},
    {'name': 'max', 'nums': {'home': 9876543, 'work': 1010001}},
    {'name': 'erin', 'nums': {'home': 3333333, 'work': 4444444}},
    {'name': 'joél', 'nums': {'home': 2222222, 'work': 5555555}},
    {'name': 'sean', 'nums': {'home': 9999999, 'work': 8888888}}
]

[{'name': 'greg', 'nums': {'home': 1234567, 'work': 7654321}},
 {'name': 'max', 'nums': {'home': 9876543, 'work': 1010001}},
 {'name': 'erin', 'nums': {'home': 3333333, 'work': 4444444}},
 {'name': 'joél', 'nums': {'home': 2222222, 'work': 5555555}},
 {'name': 'sean', 'nums': {'home': 9999999, 'work': 8888888}}]

In [128]:
{entry['name']: entry['nums']['home'] for entry in phone_nos}

{'greg': 1234567,
 'max': 9876543,
 'erin': 3333333,
 'joél': 2222222,
 'sean': 9999999}

3. From the dictionary below,build a dictionary where the customer's names are the keys and the movies theyv'e bought are the values

In [129]:
customers = {
    'bill': {'purchases': {
                'movies': ['Terminator', 'Elf'],
                'books': []},
            'id': 1},
    'dolph': {
        'purchases': {
            'movies': ['It Happened One Night'],
            'books': ['The Far Side Gallery']},
        'id': 2},
    'pat': {'purchases': {
                'movies': [],
                'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
            'id': 3}
}

In [144]:
{name: data['purchases']['movies'] for  name,data in customers.items()}

{'bill': ['Terminator', 'Elf'], 'dolph': ['It Happened One Night'], 'pat': []}

## Functions

Try building a function that will automate the task of finding how many times a given number can be evenly divided by two

In [170]:
def divisible_by_two(num):
    count = 0
    while num % 2 == 0:
        num /= 2
        count += 1
    return count

number = int(input("What number are you curious about?"))
print(f"The number {number} is divisible only {divisible_by_two(number)} times")

What number are you curious about?8
The number 8 is divisible only 3 times

**Default Argument Values**

In [177]:
def greeting(fname = "John", lname = "Doe"):
    return f"Dear {fname} {lname}, Welcome to Moringa!"

#Without parameters
print(greeting())
#With parameters
print(greeting("Nesphory","Mwakale"))
print(greeting("Bigman", "Bazuu"))

Dear John Doe, Welcome to Moringa!
Dear Nesphory Mwakale, Welcome to Moringa!
Dear Bigman Bazuu, Welcome to Moringa!

**Exercise(Functions)**

1. Build a function that will return 2^n for an input n

In [182]:
def power(pow):
    return 2 ** pow
power(8)

256

2. Build a function that will take a list of phone numbers as a string and return the same as integers, removing any parenthesis(), hyphens and spaces

In [195]:
phone_nums = (['0708403640', '254-708-403-640', '0 708 403 640'])
def num_converter(list_nums):
    new_phone_nums = []
    for phone_num in list_nums:
        phone_num = phone_num.replace('-', '')
        phone_num = phone_num.replace(' ', '')
        phone_num = int(phone_num)
        new_phone_nums.append(phone_num)
    return new_phone_nums

num_converter(phone_nums)

[708403640, 254708403640, 708403640]

3. Build a function that returns the mode of a list of numbers

In [204]:
from scipy import stats as st
def mode(list_num):
    return st.mode(list_num)[0]

list1 = [2,3,4,5,6,7,8,9,10,2,4,2,5]
print(mode(list1))

[2]

C:\Users\nrmmw\AppData\Local\Temp\ipykernel_4200\2024088607.py:3: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  return st.mode(list_num)[0]