# Data Cleaning/Cleansing/Wrangling

## Data cleaning will cover the following
1. Checking the columns and changing mispelled to correct names
2. checking missing values
3. checking for duplicates
4. checking for outliers

In [66]:
#Import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [67]:
print(sns.get_dataset_names(), end =" ")

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

### 1. Loading the dataset and getting information

In [68]:
#Reading the file: load diabetes.csv
df = pd.read_csv("diabetes.csv")

In [69]:
# Checking top 5 rows
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26.0,4.5,62.0,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33.0,7.1,46.0,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [70]:
#checking the last 5 columns
df.tail()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
1004,191,454316,M,55.0,NaN,62.0,6.8,5.3,2.0,1.0,3.5,0.9,30.1,Y
1005,192,454316,M,55.0,4.8,88.0,NaN,5.7,4.0,0.9,3.3,1.8,30.0,Y
1006,193,454316,M,62.0,6.3,82.0,6.7,5.3,2.0,1.0,3.5,NaN,30.1,Y
1007,194,454316,F,57.0,4.1,70.0,9.3,5.3,3.3,1.0,1.4,1.3,29.0,Y
1008,195,4543,f,55.0,4.1,34.0,13.9,5.4,1.6,1.6,3.1,0.7,33.0,Y

In [71]:
#checking the dataframe shape
df.shape

(1009, 14)

In [72]:
#checking the dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1009 non-null   int64
 1   No_Pation  1009 non-null   int64
 2   Gender     1009 non-null   object
 3   AGE        1008 non-null   float64
 4   Urea       1008 non-null   float64
 5   Cr         1007 non-null   float64
 6   HbA1c      1006 non-null   float64
 7   Chol       1007 non-null   float64
 8   TG         1007 non-null   float64
 9   HDL        1008 non-null   float64
 10  LDL        1007 non-null   float64
 11  VLDL       1008 non-null   float64
 12  BMI        1009 non-null   float64
 13  CLASS      1009 non-null   object
dtypes: float64(10), int64(2), object(2)
memory usage: 110.5+ KB

In [73]:
#checking the info 2
# Excludes data columns
df.info(verbose = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Columns: 14 entries, ID to CLASS
dtypes: float64(10), int64(2), object(2)
memory usage: 110.5+ KB

In [74]:
#concise summary statistics
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,1009.0,339.161546,2.397382e+02,1.0,127.0,296.0,548.0,800.00
No_Pation,1009.0,271744.776016,3.365681e+06,123.0,24065.0,34399.0,45390.0,75435657.00
AGE,1008.0,53.620040,8.740975e+00,25.0,51.0,55.0,59.0,79.00
Urea,1008.0,5.131094,2.931136e+00,0.5,3.7,4.6,5.7,38.90
Cr,1007.0,68.973188,5.981330e+01,6.0,48.0,60.0,73.0,800.00
HbA1c,1006.0,8.284155,2.533576e+00,0.9,6.5,8.0,10.2,16.00
Chol,1007.0,4.863873,1.297326e+00,0.0,4.0,4.8,5.6,10.30
TG,1007.0,2.348769,1.397487e+00,0.3,1.5,2.0,2.9,13.80
HDL,1008.0,1.204216,6.581583e-01,0.2,0.9,1.1,1.3,9.90
LDL,1007.0,2.610119,1.116095e+00,0.3,1.8,2.5,3.3,9.90
VLDL,1008.0,1.850595,3.649859e+00,0.1,0.7,0.9,1.5,35.00
BMI,1009.0,29.589911,4.946246e+00,19.0,26.0,30.0,33.0,47.75

In [75]:
#Describe categorical features
df.describe(include="O").T

       count unique top freq
Gender  1009      3   M  570
CLASS   1009      5   Y  840

In [76]:
#Create a dataframe copy to be used in data cleaning using 
# copy() method
# deep = True: makes a complete copy of the DataFrame
df1 = df.copy(deep = True)
df1.sample(5)

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
516,369,34411,M,57.0,8.9,120.0,6.3,4.2,3.9,1.4,1.3,1.5,29.0,Y
781,548,14389,F,60.0,4.1,56.0,13.1,4.4,2.0,1.0,2.5,0.9,29.0,Y
430,156,25368,F,60.0,4.5,39.0,8.7,5.2,2.1,0.8,3.6,0.9,27.0,Y
360,362,24092,F,56.0,2.3,36.0,10.2,4.8,1.0,1.4,2.9,0.4,30.0,Y
814,691,34560,F,56.0,3.6,48.0,15.0,7.7,4.7,5.0,2.1,2.0,28.0,Y

In [77]:
#check unique value for one column (Gender)
print(df1['Gender'].unique())
#  Counts the unique values in the column
print(df1['Gender'].value_counts())

['F' 'M' 'f']
M    570
F    437
f      2
Name: Gender, dtype: int64

In [78]:
# Replaces "f" with "F"
df1["Gender"] = df1["Gender"].replace('f',"F")
# Checks unique values in Gender Column
print(df1['Gender'].unique())
#  Counts the unique values in the column
print(df1['Gender'].value_counts())

['F' 'M']
M    570
F    439
Name: Gender, dtype: int64

In [79]:
# check for unique values in each column at once using for loop
for coln in df1:
    coln_value = df1[coln].unique()
    print(f"{coln}\n {coln_value}\n")

ID
 [502 735 420 680 504 634 721 421 670 759 636 788  82 132 402 566 596 676
 729 742  64  97 126 390 458 470 494 564 696 106 138 315 650 678 699 703
 708 719 740 741 746 794 219 255 450 626 664 704 799 210 237 318 620 640
 668 701 174 276 345 482 630 789 348   7   9  10  42  47  71  72  83  88
  89  96  98  99 102 134 137 139 141 143 144 145 147 149 150 153 154 157
 161 165 166 171 180 181 182 186 190 197 435 472  85 710 429 702   4 189
 201 285 393 468 492 496 498 684 700 716 366 399 490 500 672 690 718 264
 464 466 686 688  16 705 709  19 123 476 682 706 754  68 342 712 715  12
  20  41  60  79  81 133 135 146 152 178  18  24 675  39 474 648  48 656
  57 658  69 662 714  87 231 505 654  61 127 228 674 744  58 108 198 357
 588 666 698 753 110 113 119 122 452 652 660 673 162 168 580 694 790 140
 375 426 453 534 612 692 717 725 777  67 109 351 552 685 750  31 129 173
 176 179 183 185 195 316 646 187 188 191 194 200 203 411 520 622 758 206
 600  76  86 209 212 215 218 221 224 227 438 456 510 602 772 230 233 236
 239 242 252 312 614 647 739   1 243 245 251 254 257 258 260 263 266 306
 536 577 655 734  37 159 269 272 462  15 275 278 281 282 405 463   3  36
  46  59  91 120 284 287 290 293 296 299 302 305 308 475 484 528 723 730
  21 160 184 273 311 314 317 320 323 326 329 332 423 427 503 546 597 778
   6  65  73 177 222 297 335 338 341 344 347 350 353 356 488 508 616 100
 163 359 362 365 368 509 521 270 354 371 374 377 380 383 386 430 526 642
  55  56  75 118 307 339 372 389 392 395 398 401 404 407 410 413 416 419
 483 516 530 563 615 422 425 428 628 635 783 431 432 434 437 440 443 486
 707 787  62 444 446 449 511 598 651  63 478 601  33  74  92 156 549 578
 417 445 467 738  49 238 594 608 771 158 587 653  22 220 234 241 593 196
 300 396 447 495 629 748 769  51 111 202 657 112 151 757 261 265 336 355
 542 613 683  30 244 406 408 793 798  13  17  45 192 346 384 460   5  54
 387 761 763 262 397 681 749 321 381 727  27 175 286 512 555  94 249 295
 394 638 737  14 105 333 369 385 649 677 784  38  84 557 604 439 493 606
 376 617 216 477 775  32 232 480 487 767   2 279 618  52 409 609 469  28
 103 104 378 481 522 776 267 280 382 544 559 624 762  29 117 155  80 499
 773 268 271 288 403 679 755 766 142 330 720  70 538 556 695 774  53 136
 363 501 540 592 603 167 289 550 558 584  66  95 661 667  78 517 561 585
 116  90 164 518 259 747  23 204 448 687 298 352 451 541 553 565 582 590
 752 121 170 309 532 610 659 724 782   8  11 246 736  34  93 240 128 358
 539 570 589 791 796 310 327 337 360 361 631 441 554 562 581 591 623 291
 514 586 507 574 235 334 465 513 595 575 751 213 506 573 473 560 459 643
 663 214 324 731 223 303 567 576 641 722 568 599 697 531 644 364 373 388
 732 745  25 328 607 665 107 524 792 797 131  43 294 768 779  77 645 412
 572 125 569 621 172 340 632 217 292 711 130 349 537 795 800 101 391 527
 633  44 579  26 571 433 454 199 639 229 400 713 728 193 274 442 455 457
 619 627 765 551 124 331 343 535 756 786 283 471 479 545 253 148 548 250
 379 414 583 225 726 370 114 489 529 547 764 780 525 226 523 115 256 743
 319 424 485 689 770  50 301 367 304 785 207 637 691 533 625 733  40  35
 205 247 169 497 313 605 611 211 693 277 461 322 208 760 325 543 436 519
 418 491 415 515 781 671 669 248]

No_Pation
 [   17975    34221    47975    87656    34223    34224    34225    34227
    34229    34230    34231    34232    46815    34234    34235    34236
    34237    87654    34238    34239    34240    12744    34302    34282
    34242    46675    45566    34309    87664    34245    34246    34294
 75435657    87655    34290    34248    34249    34298    34250    34251
    34299    34285    48759    34293     6402    34254    78554    34255
    34517    34257    34258    34259    34260    34261    34262    34295
    34264    34271    34273    34274    34275    34277    34281    21354
    85922   568412     1168   789566    85764    86745   741741    21747
     4172    42585     8572    78585    57252    45396    45367    45388
    45399    45389    45374    45410    45377    45390    45365    45381
    45382    45391    45369    45392    45406    45412    45383    45434
   454316    34241      463    46300    87671    48036    87667    34301
    30383    45573    47069    47496      298    13281    56826   488496
    87658    87666    87674    11826    47513    48969    23513    34247
    87661    87675    44433     1111    26665    87659    87660    20321
    87668    87670    26925    34263     7402    87657    87669    34296
    29008    41281    87672    87673      685    19112     1655   546543
      252     7414    45366    45397    45368    45378    45384    23975
    23977    23979 33656789    23984    67036   745326    23987   768585
    23990    97643    23994    12543    34268    24000    14389    23044
   233457    34278    34279    24005     9860    34280    34283    34284
    34286    34270    24007    34287    34288    73566    34243    66456
    87665    34291    34292    24009    24011    24012    34253   780087
   875444 66467878    24016     8644    34228    34297    87663    34300
    24018    24019    24020    24025    34226    41044    48112    34305
    34267    87662    34306    34307    34269    34222    46638    34266
    34308    34310    34244    34252    34311    24029    24030    24031
    24032    34312    24033    34313    39963    34314    34315    47586
    24034    24035    24036    24037    24038    24039    34316    34317
     9423    34318    24040    34319     9903    34320    24041    24042
    24043    24044    24045    24046    24047    13713    34321     5432
    34322    24048    24049    24050    24051    24052    17922    44518
    34323    75433    34324    34325    23974    48806    24053    24055
    24056    24057    34326    24058    24059    24060     5474    34327
    34328    34329    34330    34233    12779    24061    24062    34331
    23976    24063    24064    24065    34332    47552    41420    23972
    23983    27988    46374    34333    24066    24067    24068    24069
    24070    24071    24072    24073    24074    34334     3451    34335
    34336    34337    23978    34338    45431    34339    24075    24076
    24077    24078    24079    24080    24081    24082      825    34340
    34341    34342     3275    34343    23973    46123     9575    34344
    34345    34346    24083    24084    24085    24086    24087    24088
    24089    24090     5609     6578    34347    23985     8109    34348
    24091    24092    24093    24094    34349     9896    34350    34351
    47295    24095    24096    24097    24098    24099    24100    34352
     5677  8432454    34353    39550    23996    23268    34354     5980
    34355    24101    24102    24103    24104    24105    24106    24107
    24108    24109    24110    24111     4567     7898    33450    34356
   905146    24112    24113    24114     8554   754338    34357    34358
    24115    34359    24116    24117    24118    24119     2341    34360
    34361    46059    24120    24121    34362     8971    34363    23992
     4356     2345    23982    34364    34365    24017    25368    34366
      632    34367    34368    34369    34370    46203   344454     6632
    66624    23998    34371    24024    34372    34373    34374    34375
    23456    34376    34377    48609    34378    34379    34380    34381
    34382    34383    34384    23988    24008    34265    34385    34386
    40468    34387    49040    34388    34389    41096    34390    98023
    94345    34391    23981    34392    34393    47555    34394    34516
    34395    34396    23986    34397    41079    47478    34398    35150
    23989     6093    17416    34399    34400    47889    47514    34401
    34402    34403    32336    34404    23980    46202    45520    34405
    20098    34406    34407     4369    48822    39576    34408   744467
    34409    43261    24006    34410    34411    34412    34413    34414
    34415    45824    23999    45219    34416    34417   876543    34418
    34419    54324    34420    47415    64348    34421    34422    34423
    45752    34424     7687    34425    34426    44835     2143    23457
     2850    23995    34427    34428    34429    23991    34430    34431
    24003     1859    34432    34433    34434     2567    34435    49036
    34436    34437    34438    18645    34439   356355    34440     4035
    34256    24023    34441    34442    34220    11868    48885    34443
     7363    34444    34445    34446    34447    34448    34449    34450
    34451      654    34452    34453    34454     7747    34455    34456
     2570     8876    34457    24027    23610      123     3525      234
    23993    46377    34458    34459    23997    24022    34460    34461
    34462    24010    24001    24021    24026     2348    43494    34463
    26062    42329     5237     1645    34464    47157    34465    35706
    34466    34467      244      743      567     7845    34468    34469
    48925    24028    34272     3592    85653    34470    34471    34472
    45703    45702    48817    34473    34474    24002   345454    24014
    47768    34475    14560     5325      355    34476    34514    47177
    43671    34477     1218    34478    34479    11590    98776    34480
      345      574      886    34481    34482    32625    43604     3247
      856    42564     4509     1289    34483    22261    34484    34485
    34486    34487    34488    34303    34304    34489    34490    35256
    48353    34491    34492    27458     2094    34276    23350    47175
     7324    86422    34493      532    34494    34495    34496   853224
    15475    47337    34497    34498    34499    42448    34500    34501
    34502    42927    23356    34503    34515    24015    27010    34289
    34504    34505    34506    34507    10969      987    24013    34508
    98564    34509    34510    56743    21761    34511    34512    32171
    39807     2407    34513    34518    42211    34519    34520    34521
    12662     3034    34522    48613    34523    48786    34524    34525
    34526    48088    48567    47994    34527    48312    34528   755889
    34529    34530    48938    43539    34531     9625    34532    34533
    47065    34534    34535    34536    34537    34538    34539    34540
     3856    34541    34542    48773    34543    20794    48926    44836
    34544     1495    87562    34545    34546    34547    34548    34549
    34550    48858    34551    45370    34552    34553    34554    34555
    34556    47150    34557    34558    34559    48704   985322    34560
    34561    45511    34562    34563     4084    40725    34564    34565
    45440    34566    34567    34568    34569    48707    34570    48362
     1334    34571    34572    34573    34574    34575    34576    48032
    34577    48511    34578    48086    34579    34580    41248    18642
    51477    45308    79133   749215      466    51567    65455    51573
    46545    14191    51623     7523    51625    71255    49220    51646
    78151    51677     5415     6546     8851   878451    35645   458451
      451      215    12154     2256     2156    21654   216544     8451
     6451     9963    45215  1036556   789451  4515131     4534     5653
    67564    43534     6544     6734   745654    65456    45466     3456
    65645      356   456456     2335    34677    87876   786745    65632
     2435     8978     4564     5727     3858    71741     7147    41741
  8785782     7175     5525   247255   415787    85282   858725      785
    58587    75275    45645   345456    46546     5645     5464    24345
   233243    56345    45646    54656    45643    67547  7565435   865754
    77657    56567   565474    65756     5676    75634   543453    45447
    45385    45416    45386    45387    45373    45427    45413    45375
    45380    45448    45376    45451    45398    45446    45393    45450
    45394    45449    45371    45452    45395    45372    45441    45411
    45414    45445    45364   834578     4543   454317   876534    24004
    24054]

Gender
 ['F' 'M']

AGE
 [50. 26. 33. 45. 48. 43. 32. 31. 30. 49. 42. 39. 41. 44. 47. 36. 38. 46.
 35. 40. 59. 51. 57. 63. 25. 60. 77. 54. 34. 55. 28. 56. 52. 69. 73. 61.
 58. 53. 66. 68. 62. 64. 67. 70. 79. 76. 65. 75. nan 71.]

Urea
 [ 4.7    4.5    7.1    2.3    2.     2.6    3.6    4.4    3.3    3.
  4.6    3.5    5.5    5.9    2.2    3.8   13.5    5.     5.3    4.
  3.2    4.8    4.2    4.3    7.5    5.6    6.     3.4    4.1    2.7
  5.7    3.7    3.1    2.4    5.4    2.1    3.9    2.8    7.6    6.8
  5.2    6.3    6.6    5.8   10.     9.6    7.3   22.     6.1   17.1
  7.7    1.8    5.1    9.1    8.5    6.5    4.16   8.7   20.8    1.2
  2.9   14.1    9.9    9.3   11.7    7.8    4.9    8.    20.     4.66
 14.     6.2    5.66   6.66   3.66  10.5    7.     6.4   10.4    1.9
  3.33   8.6    2.5   14.5    8.9    6.7   11.3   11.     0.5   13.2
 24.    10.3    7.4    6.833 11.1   13.3    7.9    7.2    1.1    9.
 14.9    4.33   9.2   11.2   38.9    6.9   26.4    8.1    8.2    8.8
    nan]

Cr
 [ 46.  62.  24.  50.  47.  67.  28.  55.  53.  42.  54.  39.  74. 175.
  73.  45.  80.  99.  49.  82.  70.  20.  48.  31.  44.  60.  57.  40.
  69.  52.  32.  38.  85.  64.  63.   6.  56.  58.  88.  61.  97. 106.
  35. 123.  79. 203. 132. 159.  83.  81.  87.  59.  75.  37. 344.  77.
  65.  76.  72.  96.  91. 370.  68.  23.  92.  71.  93.  78. 800.  25.
  34.  33. 146.  30. 136. 315.  66.  36.  95. 111.  41.  84.  86. 243.
 179. 120.  51. 130. 145.  26.  89.  98. 401. 112.  43. 139.  22. 107.
 230.  90.  27.  29. 126. 327. 101. 198. 228. 168. 114. 194.  nan 150.
 113. 185.]

HbA1c
 [ 4.9   4.    4.2   4.1   5.1   5.    5.4   4.5   5.3   5.5   4.3   4.8
  4.7   3.7   5.6   0.9   6.    5.7   5.8   6.2   6.1   6.4   5.9   6.3
 12.3   6.7  10.2  11.2   6.5   6.9   7.7   7.2  13.7   5.2   4.6   9.7
  7.    7.5   8.9   7.4   6.8  10.4   7.8   9.9   7.3   8.1   8.    9.
 11.8   9.1  10.7   7.6  10.3   7.9   8.5  12.1   9.8   9.2  10.1   8.7
  9.3   8.8  11.   10.5   9.6  10.6  11.5   7.1   9.5  10.9   8.2  11.4
 11.7  12.    9.4   8.3   8.6  11.3  10.   13.1  10.8   6.6  12.8   2.
 14.7  11.9  12.4  12.2  12.9  12.6  11.6   8.4  13.   12.5  12.7  11.1
 13.6  13.8  14.6   3.   14.5  13.9  13.2  15.9  14.8  14.4  15.   14.1
 16.   13.3   9.96   nan]

Chol
 [ 4.2   3.7   4.9   2.9   3.6   3.8   4.    5.3   5.    4.4   0.5   6.2
  4.8   4.6   5.5   2.8   5.6   3.2   6.5   3.    9.5   4.7   5.2   4.3
  4.1   3.9   3.1   3.4   7.6   6.3   4.5   2.    0.    5.9   5.4   2.1
  6.1   5.7   5.1   6.    6.7   6.8   2.5   2.4   5.8   7.    7.1   6.6
  7.2   3.5   2.7   2.6   0.6   8.5   2.3   3.3   8.8   7.3   6.4   6.9
  9.9   9.8   9.3   7.9  10.3   9.7   9.1   1.2   6.12  8.4   7.7   9.2
  8.1   8.    7.4    nan  8.6   7.5 ]

TG
 [ 0.9   1.4   1.    1.3   0.8   2.    0.7   1.1   1.7   1.5   1.9   1.8
  2.9   0.6   1.2   1.6   2.1   2.3   2.8   5.9   2.5   4.5   2.7   3.5
  5.3   3.9   3.7   3.    2.2   2.4   3.8   6.    3.1   3.2   4.4   4.6
  4.2   5.1   3.3   3.4   6.8   2.6   2.03  1.19  1.91  4.1   4.3   3.6
  4.9   0.3   5.4   5.8   6.7   5.    7.    4.   13.8   7.2   6.3   7.7
  5.5   0.5  12.7   4.7   8.7   8.5   4.8  11.6    nan  5.7 ]

HDL
 [2.4  1.1  0.8  1.   0.9  1.7  1.2  1.3  1.4  1.6  0.6  0.7  2.3  2.1
 2.   0.5  4.   1.5  1.8  2.5  0.75 1.9  3.9  2.8  3.1  1.95 6.6  1.08
 6.3  0.95 3.2  1.45 1.75 0.4  1.05 3.6  1.35 2.6  1.03 3.8  0.2  3.4
 1.85 1.73 9.9  5.   9.   2.2   nan]

LDL
 [1.4  2.1  2.   1.5  1.6  3.7  3.8  2.7  3.2  2.2  4.1  3.3  1.3  2.8
 4.6  2.3  3.6  3.   3.5  2.4  0.9  4.2  1.9  4.9  2.6  2.5  0.3  1.7
 1.2  1.8  4.3  3.4  1.1  3.1  1.   1.35 3.9  0.8  2.9  4.5  4.7  0.6
 0.7  1.95 9.9  4.4  5.   4.8  5.5  5.6  4.   0.75 0.95 0.96 7.5  7.9
 6.4  2.04 0.5  5.9  1.04 5.1  1.45 7.    nan 5.3 ]

VLDL
 [ 0.5  0.6  0.4  1.   0.3  0.8  0.7  1.3  4.1  5.  14.5  0.2  1.2  1.1
  1.4  0.9  1.8  2.4  1.7  1.6 15.4  8.1  9.5 10.4 12.7  7.2 14.  13.1
 12.2 10.   1.5 31.8  3.1 22.2  1.9  0.1  2.2 22.7 35.  31.   2.  11.3
 16.3 33.6  2.6  2.1 19.5 18.1  6.3  7.   2.8 24.5  3.5 27.2  2.5  5.8
  3.4  9.   3.   5.2  nan]

BMI
 [24.   23.   21.   22.   19.   20.   23.5  24.5  22.5  24.6  25.   30.
 31.   32.   29.   28.   19.5  27.   37.2  27.4  34.3  29.5  34.6  27.3
 31.2  40.5  47.   21.17 40.   28.3  31.5  37.   35.   33.   39.   38.
 26.   33.9  31.4  36.   34.   36.6  30.1  29.36 32.9  43.25 39.18 34.5
 33.6  34.05 27.75 35.2  36.11 38.62 30.2  29.63 28.36 47.75 37.62 35.16
 27.33 27.17 32.65 25.6 ]

CLASS
 ['N' 'N ' 'P' 'Y' 'Y ']

### 2. Data Cleaning


#### 2.1. Checking the colunms and dealing with mispelled columns

In [80]:
#check the colunms use columns attribute
df1.columns

Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [81]:
#changing no_pation column, use rename method 
#df.rename(columns = {'old col name': 'new coln name'}, inplace = True)
#inplace = True: replaces the column_name permanently
df1.rename(columns = {"No_Pation": "Patient No"}, inplace = True)
df1.columns

Index(['ID', 'Patient No', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol',
       'TG', 'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [82]:
#Change columns name to lower case for unifromity
# use .lower(): df.columns = df.columns.str.lower()
df1.columns = df1.columns.str.lower()
df1.columns

Index(['id', 'patient no', 'gender', 'age', 'urea', 'cr', 'hba1c', 'chol',
       'tg', 'hdl', 'ldl', 'vldl', 'bmi', 'class'],
      dtype='object')

In [83]:
#Removing the white space if any, 
#use .replace() e.g df.columns = df.columns.str.replace(' ', '')
df1.columns = df1.columns.str.replace(" ", "_")
df1.columns

Index(['id', 'patient_no', 'gender', 'age', 'urea', 'cr', 'hba1c', 'chol',
       'tg', 'hdl', 'ldl', 'vldl', 'bmi', 'class'],
      dtype='object')

In [84]:
#we can combine the 2 argument into one code
#df1.columns = df1.columns.str.lower().replace(' ', '_')
# Method chaining
df1.columns = df1.columns.str.lower().str.replace(" ", "_")
df1.columns

Index(['id', 'patient_no', 'gender', 'age', 'urea', 'cr', 'hba1c', 'chol',
       'tg', 'hdl', 'ldl', 'vldl', 'bmi', 'class'],
      dtype='object')

In [119]:
#Drop unnessary columns
#a. del df['col name'] # you can also used drop method: 
#Syntax: df.drop(columns = 'col_name', axis=1, inplace=True)

df1.drop(columns = "id",axis = 1, inplace = True)

KeyError: "['id'] not found in axis"

In [120]:
df1

,patient_no,gender,age,urea,cr,hba1c,chol,tg,hdl,ldl,vldl,bmi,class
0,17975,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,34221,M,26.0,4.5,62.0,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,47975,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,87656,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,34223,M,33.0,7.1,46.0,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,454316,M,55.0,NaN,62.0,6.8,5.3,2.0,1.0,3.5,0.9,30.1,Y
1005,454316,M,55.0,4.8,88.0,NaN,5.7,4.0,0.9,3.3,1.8,30.0,Y
1006,454316,M,62.0,6.3,82.0,6.7,5.3,2.0,1.0,3.5,NaN,30.1,Y
1007,454316,F,57.0,4.1,70.0,9.3,5.3,3.3,1.0,1.4,1.3,29.0,Y
1008,4543,F,55.0,4.1,34.0,13.9,5.4,1.6,1.6,3.1,0.7,33.0,Y

### 2.2 Checking the missing values and dealing with them

In [86]:
#check the missing values, you can either use isna or isnull()

In [87]:
#a. imputing "hba1c " variable using the mean
#Get the mean  e.g mean_values = df.coln.mean()


#fill up the missing value, use fillna e.g df['col'].fillna(mean_values, inplace=True)

In [88]:
#b another way of doing the same thing as a bove e.g df['col'].fillna(df['col'].mean(), inplace=True)

In [89]:
#c Imputing using the median" replace mean with median

In [90]:
#d. how to impute using the mode
#coln_mode = df.colname.mode()[0]


# impute with the mode
#df['col'].fillna(col_mode, inplace=True) # use bfill for backword fill, and ffill for forward fill

Observations:

The mode of a dataset can have multiple values. When we call `mode()` on a Pandas dataframe, it returns a Series object containing all the modal values. To access the first modal value, we use the `[0]` index.

For example, if the mode of the `gender` column in the `df1` dataframe is both `'Female'` and `'Male'`, then `df1.gender.mode()` will return a Series object containing both values. To access the first modal value, which is `'Female'`, we use `df1.gender.mode()[0]`.

Using `[0]` ensures that we are only using the first modal value for imputation, rather than all the modal values. This is important because using multiple values for imputation can introduce bias into the data.

In [91]:
#e. Fill missing values with specific values e.g 0
#df['col'].fillna(0, inplace=True)

In [92]:
#f.Fill missing values in the categorical columns with specific values
#df['col'].fillna('unknown', inplace=True)

In [93]:
#dropping the missing values# we drop when we just have few missing values using dropna

In [94]:
#check the null values using isna()

In [95]:
#Replacing values in the class column
#df.groupby('class')['class'].count()

In [96]:
#check unique in class variable

In [97]:
#replace values in class, and gender coln df['coln'] = df['coln'].str.replace('N ','N')

In [98]:
#check unique again

In [99]:
#check count again  df.groupby('class')['class'].count()

In [100]:
#do the same for gender

In [101]:
#replace values in gender

### 2.3 Checking for duplicate

In [102]:
#check duplicates use duplcated()

In [103]:
#drop the duplicates


#checking on whether duplicates were dropped

### 2.4 Checking for outliers

In [104]:
#checking for outlier, use boxplot on cr coln

In [105]:
#Remove the outlier using the maximum quantile in cr column

#a. Get the max interquantile at 0.995

In [106]:
#check the values under outliers
#df[df["cr"] > max_cr]

In [107]:
#Remove the outlier by assigning the value to a new DataFrame
#dfnew = df[df["cr"] < max_cr]

In [108]:
#confirm removal of outlier

The outlier has been removed

In [109]:
#b. similary we can use iqr to remove the outliers

# Calculate the interquartile range (IQR)
#q1 = df['cr'].quantile(0.25)
#q3 = df['cr'].quantile(0.75)
#iqr = q3 - q1

# Define the lower and upper bounds for outliers
#lower_bound = q1 - 1.5 * iqr
#upper_bound = q3 + 1.5 * iqr

# Filter the data to remove outliers
#f2 = df1[(df['cr'] >= lower_bound) & (df['cr'] <= upper_bound)]

# Check the boxplot again