In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [4]:
# load and read dataset
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
df.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [6]:
?OneHotEncoder

In [9]:
# Encode the categorical variables
# Encode gender

ohe = OneHotEncoder(sparse_output= False)
gender_ohe = ohe.fit_transform(df[["sex"]])
pd.DataFrame(gender_ohe, columns = ["sex_f", "sex_m"]).head()

   sex_f  sex_m
0    1.0    0.0
1    0.0    1.0
2    0.0    1.0
3    0.0    1.0
4    1.0    0.0

In [ ]:
# Always use the drop-first argument 
# to avoid multicollinearity

ohe = OneHotEncoder(sparse_output= False, dtype = "int", drop = "first")
sex_ohe = ohe.fit_transform(df[["sex"]])
pd.DataFrame(gender_ohe, columns = ["sex_f", "sex_m"]).head()