In [1]:
print("Hello! Coding World")

Hello! Coding World

In [5]:
name = input("Name: ")
age = input("Age: ")
print(name, 'is', age, "years old")

Name:  Nesphory
Age:  25

Nesphory is 25 years old

In [6]:
print(name + ' is ' + age + ' years old')

Nesphory is 25 years old

In [20]:
age = int(input("What is your age? "))
if age < 18:
    print("You are too young")
elif age >= 18 and age <= 50:
    print("You can vote")
else:
    print("You can vote but please remember, Ruto must go")

What is your age?  51

You can vote but please remember, Ruto must go

prints('\n') - New line

In [21]:
print("Noun\n")
print("Proverb")

Noun

Proverb

In [22]:
import pandas as pd
import numpy as np

In [59]:
pl_clubs = ['Liverpool', 'Arsenal', 'Man City', 'Nottingham Forest', 'Newcastle', 'Chelsea','Man United',]
worst_team = pl_clubs[-1]
print("Watu bure ni watu wanapenda " + worst_team)
champions = pl_clubs[0]
print("Unfortunately, " + champions + " won the league")

Watu bure ni watu wanapenda Man United
Unfortunately, Liverpool won the league

In [60]:
pl_clubs.append("Crystal Palace")
print(pl_clubs)

['Liverpool', 'Arsenal', 'Man City', 'Nottingham Forest', 'Newcastle', 'Chelsea', 'Man United', 'Crystal Palace']

In [61]:
pl_clubs[-1] = 'Southampton'
print(pl_clubs)

['Liverpool', 'Arsenal', 'Man City', 'Nottingham Forest', 'Newcastle', 'Chelsea', 'Man United', 'Southampton']

In [62]:
len(pl_clubs)

8

In [63]:
pl_clubs[0:4]
# Slicing

['Liverpool', 'Arsenal', 'Man City', 'Nottingham Forest']

In [64]:
# Deleting from a list
# pop() - Removes the last element in the list (LIFO)
# .remove("element") - Removes a specific element from the list
# del keyword - removes using the index
pl_clubs.pop()
print(pl_clubs)
print(len(pl_clubs))

['Liverpool', 'Arsenal', 'Man City', 'Nottingham Forest', 'Newcastle', 'Chelsea', 'Man United']
7

In [65]:
pl_clubs.remove("Nottingham Forest")
print(pl_clubs)

['Liverpool', 'Arsenal', 'Man City', 'Newcastle', 'Chelsea', 'Man United']

In [66]:
len(pl_clubs)

6

In [68]:
del pl_clubs[3]
print(pl_clubs)
print(len(pl_clubs))

['Liverpool', 'Arsenal', 'Man City', 'Chelsea', 'Man United']
5

Tuples and lists are similar. Only that, tuples are immutable and computationally cheap compared to a list. Both are heterogeneous and can contain different data types

In [69]:
cars = ('Toyota','Nissan','Mitsubishi','Subaru','Mazda')
type(cars)

tuple

Sets unlike lists cannot have duplicate values as they are unindexed. They are also unordered and unchangeable

In [72]:
subject_set = {'Maths','English','Kiswahili','Science', 'Social Studies','PE'}
subject_set
print(type(subject_set))

<class 'set'>

Dictionary - Stores data in key-value pairs like a traditional dictionary.
Written in curly braces

In [75]:
me = {
    'first_name':'Nesphory',
    'last_name':'Mwadime',
    'age': 25,
    'dob': 'dd/mm/yyyy'
}
print(me)

{'first_name': 'Nesphory', 'last_name': 'Mwadime', 'age': 25, 'dob': 'dd/mm/yyyy'}

In [101]:
schools= {
    'primary1':'Unity Day',
    'primary2':'Notre Dame School',
    'primary3':'Mt Sinai',
    'primary4':'Werus Academy',
    'secondary':"Mang'u High School",
    'tertiary':'JKUAT'
}
schools

{'primary1': 'Unity Day',
 'primary2': 'Notre Dame School',
 'primary3': 'Mt Sinai',
 'primary4': 'Werus Academy',
 'secondary': "Mang'u High School",
 'tertiary': 'JKUAT'}

In [102]:
schools['others'] = 'Moringa'
# Adding another key-value pair to a dictionary
schools

{'primary1': 'Unity Day',
 'primary2': 'Notre Dame School',
 'primary3': 'Mt Sinai',
 'primary4': 'Werus Academy',
 'secondary': "Mang'u High School",
 'tertiary': 'JKUAT',
 'others': 'Moringa'}

In [103]:
high_school = schools['secondary']
high_school
# Accessing items in the dictionary

"Mang'u High School"

In [104]:
hs = schools.get('secondary')
hs
#Alternative way to get items

"Mang'u High School"

In [105]:
schools.pop('secondary')

"Mang'u High School"

In [106]:
schools

{'primary1': 'Unity Day',
 'primary2': 'Notre Dame School',
 'primary3': 'Mt Sinai',
 'primary4': 'Werus Academy',
 'tertiary': 'JKUAT',
 'others': 'Moringa'}

In [107]:
schools.clear()

In [108]:
schools

{}

In [4]:
# String concatenation using numbers
name = input("What is your name? ")
home = input("Where do you live? ")
print("My name is", name, "and I live in", home)
# The commas automatically add spaces in the print output
print('My name is ' +name+ " and I live in " + home)
# When you use the + operator, you have to add the spaces manually
# Either way, the output is the same

What is your name?  Nesphory
Where do you live?  Siakago

My name is Nesphory and I live in Siakago
My name is Nesphory and I live in Siakago